In [ ]:
import pandas as pd
import janitor
from sqlalchemy import create_engine

In [ ]:
data = pd.read_csv("./data/retail_store_sales.csv")

In [ ]:
data = data.clean_names()

In [ ]:
data

In [ ]:
data.info()

In [ ]:
data.isna().sum()

In [ ]:
data.nunique()

In [ ]:
data['transaction_date'] = pd.to_datetime(data['transaction_date'])

In [ ]:
data = data.drop_duplicates()

In [ ]:
data["total_spent"]=data["quantity"]*data["price_per_unit"]

In [ ]:
price_dict = data.dropna(subset=['price_per_unit']).groupby('item')['price_per_unit'].first().to_dict()
data['price_per_unit'] = data['price_per_unit'].fillna(data['item'].map(price_dict))

In [ ]:
data.dropna(subset=['item'], inplace=True)

In [ ]:
data.drop(columns="discount_applied", inplace=True)

In [ ]:
data

In [ ]:
#Loading data to PostgreSQL 
pg_user = input("PostgreSQL user name:")
pg_pass = input("PostgreSQL password:")
pg_host = 'localhost'
pg_port = 5432
pg_db = 'postgres'

In [ ]:
url = f'postgresql://{pg_user}:{pg_pass}@{pg_host}:{pg_port}/{pg_db}'
print(url)

In [ ]:
engine = create_engine(url, echo = True)

In [ ]:
data.to_sql("retail_sales", engine, if_exists="replace", index=False)